<!DOCTYPE html>
<html>
<head>
    <title>Dubai Areas Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body data-show-modal="{{ show_modal }}" data-message="{{ message }}" data-form="{{ form_to_show }}">
    <div id="dubaiMap"></div>
    <script>
        var serverSideData = {{ dubai_areas_data | tojson | safe }};
    </script>"
{% if current_user.is_authenticated %}
    <div class="dropdown-container">
        <button id="profileButton" class="profile-button"></button>
        <div id="dropdown" class="dropdown-content">
            <a href="{{ url_for('manage_subscription') }}">Manage Subscription</a>
            {% if not is_premium_user or last_billing_period %}
              <a href="#" id="goPremium">Go Premium <span  style="font-size: 24px; color: rgb(255, 173, 9);">&#9733;</span ></a>
            {% endif %}
            <a href="{{ url_for('accounts.logout') }}">Log Out</a>
        </div>
    </div>
    {% else %}
<button id="loginButton">Login/Sign up</button>

<div id="loginModal" class="modal" {% if show_modal %}style="display:block;"{% endif %}>
<div class="modal-content">
  <span class="close-button">&times;</span>
    <h2 id="modalTitle">Login</h2>
    <div id="messageInfo"></div>
    <form id="loginForm" method="POST" action="{{ url_for('accounts.login') }}">
      {{ login_form.hidden_tag() }}
        <div class="form-group">
            {{ login_form.email.label }}
            {{ login_form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ login_form.password.label }}
            <div class="input-group">
              {{ login_form.password(class="form-control") }}
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary toggle-password" type="button">
                      <i class="fa fa-eye"></i>
                  </button>
              </div>
            </div>
            <a href="{{ url_for('reset_password_request') }}" class="forgot-password-link">Forgot Password?</a>
        </div>
        <button type="submit" class="form-btn">Login</button>
    </form>
    <form id="registerForm" method="POST" action="{{ url_for('accounts.register') }}" style="display:none;">
      {{ register_form.hidden_tag() }}
        <div class="form-group">
            {{ register_form.email.label }}
            {{ register_form.email(class="form-control") }}
            {% if register_form.email.errors %}
                {% for error in register_form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ register_form.password.label }}
            <div class="input-group">
              {{ register_form.password(class="form-control") }}
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary toggle-password" type="button">
                      <i class="fa fa-eye"></i>
                  </button>
              </div>
            </div>
            {% if register_form.password.errors %}
                {% for error in register_form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <div class="form-group">
            {{ register_form.confirm.label }}
            <div class="input-group">
              {{ register_form.confirm(class="form-control") }}
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary toggle-password" type="button">
                      <i class="fa fa-eye"></i>
                  </button>
              </div>
            </div>
            {% if register_form.confirm.errors %}
                {% for error in register_form.confirm.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="form-btn">Register</button>
    </form>
    <p id="toggleFormText">Don't have an account? <a href="#" id="showRegisterForm">Register</a></p>
    </div>
</div>
{% endif %}
  <div class="search-container">
    <input type="text" id="search" placeholder="Search projects or areas">
    <div id="search-results"></div>
  </div>
    <a id="contactUsButton">Contact Us</a>
    <div id="contactModal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2 id="modalTitle">Contact Us</h2>
        <form id="contactForm">
          <textarea id="message" placeholder="Please share any questions, feedback, or suggestions you may have" required maxlength="2000"></textarea>
          <p class="message-limit">You are limited to 3 messages per day.</p>
          <button type="submit" class="form-btn">Send</button>
        </form>
      </div>
    </div>

    <div id="legendContainer">
        <div id="legendTitle">
          <span>Average meter price</span>
          <span id="arrow">▲</span>
        </div>
        <div id="dropupMenu">
          <div onclick="changeLegendTitle('Average meter price')">Average meter price</div>
          <div onclick="changeLegendTitle('Capital Appreciation')">Capital appreciation 5Y</div>
          <div onclick="changeLegendTitle('Gross Rental Yield')">Gross Rental Yield</div>
          {% if is_premium_user %}
            <div onclick="changeLegendTitle('Acquisition Demand')">Acquisition Demand</div>
            {% else %}
                <div class="locked-legend" onclick="showPremiumMessage()">Acquisition Demand <span id="lockIcon">🔒</span></div>
            {% endif %}
        </div>
        <div id="legend">
          <div id="legendContent"></div>
        </div>
    </div>
    {% if not is_premium_user %}
    <div id="premiumMessage" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p>You need to buy a premium subscription to unlock all the features.</p>
        </div>
    </div>
    {% endif %}  
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Settings</h2>
            <div class="settings-section">
                <h3>Default Hierarchy</h3>
                {% if is_premium_user %}
                  <p>Drag and drop to rearrange the hierarchy:</p>
                {% else %}
                <p>Drag and drop to rearrange the hierarchy<span id="lockIcon">🔒 <span class="premium-text">(premium)</span></span>:</p>
                {% endif %}

                <ul id="hierarchyList" class="hierarchy-list {% if not is_premium_user %} locked-ul{% endif %}">
                    <li draggable="true" data-id = "2"><span class="drag-handle">■</span> Project</li>
                    <li draggable="true" data-id = "3"><span class="drag-handle">■</span> Usage (residential, commercial ...)</li>
                    <li draggable="true" data-id = "1"><span class="drag-handle">■</span> Type (flat, villa ,shop ...)</li>
                    <li draggable="true" data-id = "4"><span class="drag-handle">■</span> Sub Type (number of rooms, shop type, ..)</li>
                </ul>
            </div>
            <button id="saveSettings" class="save-btn">Save</button>
        </div>
    </div>
    <div id="chartModal" class="modal_chart">
        <div class="modal-content_chart">
            <span class="close">&times;</span>
            <canvas id="landStatsChart"></canvas>
        </div>
    </div>

    <!--<button id="settingsBtn" class="floating-btn">⚙️</button>-->
    <div id="info-panel" style="display:none; position: fixed; top: 20px; right: 20px; background: white; z-index: 1000;">
        
        <div id="panel-content">
            <button id="settingsBtn">⚙</button>
            <button id="toggle-fullscreen">⤢</button>
            <button id="close-panel">x</button>
            <div id = "area_info">
                <h2 id="area-title"></h2>
                <div id="last-updated">Last updated: 2024-07-15</div>
                <div id="stats-container" style="display: flex; overflow-x: auto;">
                <div class="info-card locked-card" id="card1">
                    <div class="title">Locked</div>
                    <div class="value">99</div>
                  </div>
                  <div class="info-card locked-card" id="card2">
                    <div class="title">Locked</div>
                    <div class="value">99</div>
                  </div>
                  <div class="info-card locked-card" id="card3">
                    <div class="title">Locked</div>
                    <div class="value">99</div>
                  </div>
                  <div class="info-card locked-card" id="card4">
                    <div class="title">Locked</div>
                    <div class="value">99</div>
                  </div>

                  <div class="info-card-wrapper">
                      <div class="info-card supply-projects locked-card" id="card5">
                        <div class="title">Locked</div>
                        <div class="supply-details">
                          <div class="supply-column">
                            <div class="sub-title">Finished</div>
                            <div class="value finished-value"></div>
                          </div>
                          <div class="supply-column">
                            <div class="sub-title">Off Plan</div>
                            <div class="value offplan-value"></div>
                          </div>
                        </div>
                      </div>
                      <div class="lock-icon-card">
                        <img src="static/lock_similar.svg" alt="Lock Icon" width="40" height="40" onclick="openModal('Unlock all details Today for $19.99');" style="cursor: pointer;">
                    </div>
                  </div>
                    <div class="info-card-wrapper">
                      <div class="info-card locked-card" id="card6">
                        <div class="title">Locked lock</div>
                        <div class="value"></div>
                        <button id = "land-chart-button" class="stats-button"><i class="fas fa-chart-pie"></i></button>
                      </div>
                      <div class="lock-icon-card">
                        <img src="static/lock_similar.svg" alt="Lock Icon" width="40" height="40" onclick="openModal('Unlock all details Today for $19.99');" style="cursor: pointer;">
                    </div>
                  </div>
                  <div class="info-card-wrapper">
                    <div class="info-card locked-card" id="card7">
                      <div class="title">Locked</div>
                      <div class="value">99</div>
                    </div>
                    <div class="lock-icon-card">
                      <img src="static/lock_similar.svg" alt="Lock Icon" width="40" height="40" onclick="openModal('Unlock all details Today for $19.99');" style="cursor: pointer;">
                  </div>
                  </div>
                  <div class="info-card-wrapper">
                    <div class="info-card locked-card lastcard" id="card8">
                      <div class="title">Locked
                      </div>
                      <div class="value">99</div>
                    </div>
                    <div class="lock-icon-card">
                      <img src="static/lock_similar.svg" alt="Lock Icon" width="40" height="40" onclick="openModal('Unlock all details Today for $19.99');" style="cursor: pointer;">
                  </div>
                </div>
                </div>
            </div>
            <div class="tab">
              <button class="tablinks active" onclick="openTab(event, 'Details')">Details</button>
              <button class="tablinks" onclick="openTab(event, 'ProjectsDemand')">Projects Demand</button>
          </div>
            <!-- Tab content -->
            <div id="Details" class="tabcontent">
                <div class="scrollable-container">
                    <table id="nestedTable">
                        <thead>
                            <tr>
                                <th>...</th>
                                <th>Capital Appr. 5Y %</th>
                                <th>Capital Appr. 10Y %</th>
                                <th>Gross Rental Yield %</th>
                                <th>Avg. Transaction value AED</th>
                                <th>Meter Sale Price</th>
                            </tr>
                        </thead>
                        <tbody id="mainTableBody">
                            <!-- Rows will be inserted here using JavaScript -->
                        </tbody>
                    </table>
                    {% if not is_premium_user %}
                    <div id="unlock-Overlay">
                      <img id="locked-icon" src="static/unlock.svg" alt="Locked Icon">
                        <p>Unlock all projects for 19.99$</p>
                        <button id="unlock-button-table">Unlock</button>
                    </div>
                      <table id="nestedTable">
                        <tbody id="unlockTableBody">
                            <!-- Last 3 rows will be inserted here -->
                        </tbody>
                      </table>
                      {% endif %}
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                </div>
                
            </div>

            <div id="ProjectsDemand" class="tabcontent">
                <div id = "ProjectsTableContainer" class="scrollable-container">
                </div>
            </div>
        </div>
    </div>
    
      <div id="premiumModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2 class="modal-title">Upgrade to Premium $19.99</h2>
          <div class="premium-box-container">
            <div class="premium-box">
              <div class="premium-header">PREMIUM</div>
              <ul class="prem-ul">
                <li>Unlimited Project Details</li>
                <li>Unlimited Report Downloads</li>
                <li>Regularly Updated High-Quality Data</li>
                <li>Dedicated Customer Support</li>
                <li>Estate Snipers Community Membership</li>
                <li>Feedback Loops & Inquiry Management</li>
              </ul>
            </div>
          </div>
          <button id = "upgradeButton" class="upgrade-button">Upgrade Now</button>
        </div>
      </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://js.stripe.com/v3/"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
     {% assets "bundle__js" %}
    <script src="{{ ASSET_URL}}"></script>
    {% endassets %}
</body>
</html>
