<!DOCTYPE html>
<html>
<head>
    <title>Dubai Areas Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" />
    
</head>
<body>
    <div id="dubaiMap"></div>
    <div id="legendContainer">
        <div id="legendTitle">
            <span>Average meter price</span>
            <span id="arrow">▼</span>
        </div>
        <div id="dropdownMenu">
            <div onclick="changeLegendTitle('Average meter price')">Average meter price</div>
            <div onclick="changeLegendTitle('Capital Appreciation')">Capital appreciation</div>
            <div onclick="changeLegendTitle('Gross Rental ROI')">Gross Rental ROI</div>
            <div onclick="changeLegendTitle('Acquisition Demand')">Acquisition Demand</div>
        </div>
        <div id="legend">
            <div id="legendContent"></div>
        </div>
    </div>
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <h2>Settings</h2>
            <div class="settings-section">
                <h3>Default Hierarchy</h3>
                <p>Drag and drop to rearrange the hierarchy:</p>
                <ul id="hierarchyList" class="hierarchy-list">
                    <li draggable="true" data-id = "2"><span class="drag-handle">■</span> Project</li>
                    <li draggable="true" data-id = "1"><span class="drag-handle">■</span> Type (flat, villa ,shop ...)</li>
                    <li draggable="true" data-id = "3"><span class="drag-handle">■</span> Usage (residential, commercial ...)</li>
                    <li draggable="true" data-id = "4"><span class="drag-handle">■</span> Sub Type (number of rooms, shop type, ..)</li>
                </ul>
            </div>
            <button id="saveSettings" class="save-btn">Save</button>
        </div>
    </div>
    <div id="chartModal" class="modal_chart">
        <div class="modal-content_chart">
            <span class="close">&times;</span>
            <canvas id="landStatsChart"></canvas>
        </div>
    </div>

    <!--<button id="settingsBtn" class="floating-btn">⚙️</button>-->
    <div id="info-panel" style="display:none; position: fixed; top: 20px; right: 20px; background: white; z-index: 1000;">
        
        <div id="panel-content">
            <button id="settingsBtn">⚙</button>
            <button id="toggle-fullscreen">⤢</button>
            <button id="close-panel">x</button>
            <div id = "area_info"></div>
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'Details')">Details</button>
                <button class="tablinks" onclick="openTab(event, 'ProjectsDemand')">Projects Demand</button>
            </div>
            <!-- Tab content -->
            <div id="Details" class="tabcontent">
                <div class="scrollable-container">
                    <table id="nestedTable">
                        <thead>
                            <tr>
                                <th>...</th>
                                <th>Capital Appr. 5Y %</th>
                                <th>Capital Appr. 10Y %</th>
                                <th>Gross Rental ROI %</th>
                                <th>Meter Sale Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be inserted here using JavaScript -->
                        </tbody>
                    </table>
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                </div>
                
            </div>

            <div id="ProjectsDemand" class="tabcontent">
                <div id = "ProjectsTableContainer" class="scrollable-container">
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script>console.log('Leaflet loaded:', typeof L !== 'undefined');</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/functions.js"></script>
    <script src="../static/app.js"></script>
    <script src="../static/settings.js"></script>
</body>
</html>
